name: Build and test solution

on:
  workflow_call:
    inputs:
      createArtifact:
        description: 'Whether or not to create the artifact'
        required: true
        type: boolean
      artifactVersion:
        description: 'Version string to append to artifact file name'
        required: true
        type: string

jobs:
  build:
    name: Windows Forms
    runs-on: windows-latest
    timeout-minutes: 10

    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      DOTNET_NOLOGO: true
      ARTIFACT_NAME: TeamsStatusPub-${{ inputs.artifactVersion }}.zip
      PUBLISH_DIR: publish

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3.0.3
        with:
          dotnet-version: 7.0.x

      # Existing version number isn't expected to have a revision number.
      # Expecting "x.y.z" string. This will append ".build" to it.
      - name: Add build number to version string
        run: |
          # Need absolute path for saving later.
          $csproj = "src/TeamsStatusPub/TeamsStatusPub.csproj" | Resolve-Path
          $xml = [xml](Get-Content $csproj)
          $xml.Project.PropertyGroup.Version += ".${env:GITHUB_RUN_NUMBER}"
          Write-Host "Setting assembly version to $($xml.Project.PropertyGroup.Version)"
          $xml.Save($csproj)

      - name: Restore cached dependencies
        uses: actions/cache/restore@v3
        id: cache-restore
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}

      - name: Restore dependencies
        if: steps.cache-restore.outputs.cache-hit != 'true'
        run: dotnet restore --locked-mode

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Cache dependencies
        uses: actions/cache/save@v3
        id: cache-save
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}

      - name: Test
        run: dotnet test --no-build --verbosity normal --configuration Release

      - name: Create artifact
        if: ${{ inputs.createArtifact }}
        run: >
          dotnet publish
          --configuration Release
          --runtime win-x64
          --output ${{ env.PUBLISH_DIR }}
          --no-restore
          -property:PublishSingleFile=true
          -property:DebugType=None
          -property:DebugSymbols=false
          --self-contained false
          src/TeamsStatusPub/TeamsStatusPub.csproj

      - name: Zip artifact
        if: ${{ inputs.createArtifact }}
        run: Compress-Archive -Path ${{ env.PUBLISH_DIR }}\* -DestinationPath ${{ env.ARTIFACT_NAME }}

      - name: Upload artifact
        if: ${{ inputs.createArtifact }}
        uses: actions/upload-artifact@v3
        with:
          name: artifact
          path: ${{ env.ARTIFACT_NAME }}
          retention-days: 1
