name: Continuous integration

on:
  push:
    paths-ignore:
      - '**.md'

jobs:
  build:
    name: Build and Test
    uses: ./.github/workflows/build.yml
    with:
      createArtifact: true #${{ startsWith(github.ref, 'refs/tags/') }}
      artifactVersion: 0.1.120 #${{ github.ref_name }}

  release:
    name: Create Release
    needs: build
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest
    env:
      RELEASE_NOTES_FILENAME: ReleaseNotes.md
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          files: artifact/*.exe
          name: TeamsStatusPub ${{ github.ref_name }}
          body_path: artifact/${{ env.RELEASE_NOTES_FILENAME }}
