name: Continuous integration

on:
  push:
    paths-ignore:
      - '**.md'

jobs:
  build:
    name: Windows Forms
    runs-on: windows-latest
    timeout-minutes: 10

    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      DOTNET_NOLOGO: true
      ARTIFACT_NAME: TeamsStatusPub-${{ github.ref_name }}.zip
      PUBLISH_DIR: publish

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3.0.2
        with:
          dotnet-version: 6.0.x

      # Existing version number isn't expected to have a revision number.
      - name: Add build number to version string
        run: |
          # Need absolute path for saving later.
          $csproj = "src/TeamsStatusPub/TeamsStatusPub.csproj" | Resolve-Path
          $xml = [xml](Get-Content $csproj)
          $xml.Project.PropertyGroup.Version += ".${env:GITHUB_RUN_NUMBER}"
          $xml.Save($csproj)

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Test
        run: dotnet test --no-build --verbosity normal --configuration Release

      - name: Create artifact
        if: startsWith(github.ref, 'refs/tags/')
        run: >
          dotnet publish
          --configuration Release
          --runtime win-x64
          --output ${{ env.PUBLISH_DIR }}
          --no-restore
          -property:PublishSingleFile=true
          -property:DebugType=None
          -property:DebugSymbols=false
          --self-contained false
          src/TeamsStatusPub/TeamsStatusPub.csproj

      - name: Zip artifact
        if: startsWith(github.ref, 'refs/tags/')
        run: Compress-Archive -Path ${{ env.PUBLISH_DIR }}\* -DestinationPath ${{ env.ARTIFACT_NAME }}

      - name: Create GitHub release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.ARTIFACT_NAME }}
          name: TeamsStatusPub ${{ github.ref_name }}
