name: Continuous integration

on:
  push:
    paths-ignore:
      - '**.md'

jobs:
  build:
    name: Build and Test
    uses: ./.github/workflows/build.yml
    with:
      createArtifact: ${{ startsWith(github.ref, 'refs/tags/') }}

  release:
    name: Create Release
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    env:
      INSTALLER_DIR: installer
      RELEASE_NOTES_FILENAME: ReleaseNotes.md
    steps:
      - name: Download artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: installer
          path: ${{ env.INSTALLER_DIR }}

      # Use markdown to create base release notes file with hashes of all
      # downloadable files. This file will be used to create the GitHub
      # release notes.
      - name: Create release notes file
        shell: pwsh
        run: |
          $destFile = Join-Path -Path "${{ env.INSTALLER_DIR }}" -ChildPath "${{ env.RELEASE_NOTES_FILENAME }}"
          $checksums = Get-ChildItem -Path "${{ env.INSTALLER_DIR }}" -File
            | Sort-Object -Property Name
            | ForEach-Object { "| $($_.Name) | ``$((Get-FileHash $_.FullName -Algorithm SHA256).Hash)`` |" }
            | Out-String

          "| File | SHA256 |" | Out-File -FilePath $destFile
          "| ---- | ------ |" | Out-File -FilePath $destFile -Append
          $checksums | Out-File -FilePath $destFile -Append

      - name: Create GitHub release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: ${{ env.INSTALLER_DIR }}/*.exe
          name: TeamsStatusPub ${{ github.ref_name }}
          body_path: ${{ env.INSTALLER_DIR }}/${{ env.RELEASE_NOTES_FILENAME }}

